        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">{{ config.module.userProfile.caption }}</h4>
                  <p class="card-category">{{ config.module.userProfile.label }}</p>
                </div>
                <div class="card-body">
                  <form ng-submit="submitProfile()">
                    <div class="row">
                      <div class="col-md-5">
                        <div class="form-group">
                          <label class="bmd-label-floating">{{ config.module.userProfile.username }}</label>
                          <input type="text" ng-model="vm.user.username" class="form-control" disabled>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <label class="bmd-label-floating">{{ config.module.userProfile.company }}</label>
                          <input type="text" ng-model="vm.user.company" class="form-control" required>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">{{ config.module.userProfile.email }}</label>
                          <input type="email" ng-model="vm.user.email" class="form-control" required>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">{{ config.module.userProfile.firstName }}</label>
                          <input type="text" ng-model="vm.user.firstName" class="form-control" required>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">{{ config.module.userProfile.lastName }}</label>
                          <input type="text" ng-model="vm.user.lastName" class="form-control" required>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">{{ config.module.userProfile.address }}</label>
                          <input type="text" ng-model="vm.user.address" class="form-control" required>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">{{ config.module.userProfile.city }}</label>
                          <input type="text" ng-model="vm.user.city" class="form-control" required>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">{{ config.module.userProfile.country }}</label>
                          <input type="text" ng-model="vm.user.country" class="form-control" required>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">{{ config.module.userProfile.postCode }}</label>
                          <input type="text" ng-model="vm.user.postCode" class="form-control" required>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label>{{ config.module.userProfile.aboutme }}</label>
                          <div class="form-group">
                            <label class="bmd-label-floating"> {{ config.module.userProfile.aboutmeLabel }}</label>
                            <textarea ng-model="user.aboutme" class="form-control" rows="5"></textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right">{{ config.module.userProfile.btnProfileUpdate }}</button>
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card card-profile">
                <div class="card-avatar">
                  
                    <img class="img" src="{{ config.module.userProfile.passwdLogo }}" />
                  
                </div>
                <div class="card-body">
                  <form ng-submit="submitZOE()">
                    <h6 class="card-category text-gray">{{ config.module.userProfile.passwdPowered }}</h6>
                    <h4 class="card-title">{{ config.module.userProfile.passwdCaption }}</h4>
                    <div class="form-group text-left">
                        <label class="bmd-label-floating">{{ config.module.userProfile.currentPasswd }}</label>
                        <input type="Password" ng-model="zoe.currentPasswd" class="form-control" required>
                    </div>
                    <div class="form-group text-left">
                        <label class="bmd-label-floating">{{ config.module.userProfile.passwd }}</label>
                        <input type="Password" ng-model="zoe.passwd" class="form-control" required>
                    </div>
                    <div class="form-group text-left">
                        <label class="bmd-label-floating">{{ config.module.userProfile.rePasswd }}</label>
                        <input type="Password" ng-model="zoe.rePasswd" class="form-control" required>
                    </div>
                    <button type="submit" class="btn btn-primary btn-round">{{ config.module.userProfile.btnPasswdChange }}</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
